################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/JuegoDeCartas_solucion/FileContentIndex/5216ecc7-91f3-41b0-954b-ae857fb02984.vsidx
